@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@font-face {
  font-family: "GothamBook";
  src: url("fonts/GothamBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("fonts/Gotham Medium Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamBold";
  src: url("fonts/gothambold1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal {
  background-color: white;
  padding: 20px;
  text-indent: 2.5em;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
  position: fixed;
  width: 500px;
  left: 300px;
  top: 20px;
  bottom: 20px;
  z-index: 200;
  display: none;
  overflow: auto;
}

.filter {
  background-color: rgba(66, 61, 66, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.about-us {
  position: static;
}

.nav-container {
  background-color: transparent;
  position: absolute;
  width: 74%;
  top: 55px;
  left: 13%;
  z-index: 20;
}

@media screen and (max-width: 1073px) {
  .nav-container {
    left: 5%;
    width: 90%;
  }
}

.nav-container_row_logo {
  height: 60px;
  max-width: 245px;
  background-image: url(img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1073px) {
  .nav-container_row_logo {
    background-size: contain;
  }
}

.nav-container_row_menu {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav-container_row_menu .menu .menu-item {
  text-align: center;
  font-size: 14px;
  font-family: '"GothamBook"', sans-serif;
  color: rgba(255, 255, 255, 0.637);
  text-transform: uppercase;
  line-height: 1.571;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.nav-container_row_menu .menu .menu-item:hover {
  text-decoration: none;
  color: white;
}

.nav-container_row_menu .menu .menu-item_active {
  color: white;
}

.nav-container_row_menu .menu .menu-item i {
  font-size: 12px;
}

.nav-container_row_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav-container_row_social .icon {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.637);
  border-radius: 20px;
  text-align: center;
}

.nav-container_row_social .icon:hover {
  border: 1px solid white;
}

.nav-container_row_social .icon .social {
  display: block;
  height: 100%;
  padding-top: 8px;
  color: rgba(255, 255, 255, 0.637);
}

.nav-container_row_social .icon .social:hover {
  color: white;
}

.slider-header {
  max-width: 100%;
}

.slider-header_items {
  height: 100%;
}

.slider-header_items h1 {
  font-family: 'GothamBold', sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 370px;
}

@media screen and (max-width: 1130px) {
  .slider-header_items h1 {
    font-size: 60px;
    padding-top: 330px;
  }
}

@media screen and (max-width: 950px) {
  .slider-header_items h1 {
    font-size: 60px;
    padding-top: 330px;
  }
}

@media screen and (max-width: 850px) {
  .slider-header_items h1 {
    font-size: 40px;
    padding-top: 300px;
  }
}

@media screen and (max-width: 555px) {
  .slider-header_items h1 {
    font-size: 40px;
    padding-top: 350px;
  }
}

.slider-header_items h3 {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: '"GothamBook"', sans-serif;
  margin-top: 38px;
  margin-bottom: 320px;
}

@media screen and (max-width: 1130px) {
  .slider-header_items h3 {
    font-size: 16px;
    margin-bottom: 270px;
  }
}

@media screen and (max-width: 950px) {
  .slider-header_items h3 {
    font-size: 16px;
    margin-bottom: 270px;
  }
}

@media screen and (max-width: 800px) {
  .slider-header_items h3 {
    font-size: 16px;
    margin-bottom: 230px;
  }
}

@media screen and (max-width: 555px) {
  .slider-header_items h3 {
    font-size: 16px;
    margin-bottom: 200px;
  }
}

.slider-header #slide-h-1 {
  background-image: url(img/slide-h-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-header #slide-h-2 {
  background-image: url(img/slide-h-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-header #slide-h-3 {
  background-image: url(img/slider-h-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-header #slide-h-4 {
  background-image: url(img/slider-h-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.down-arrow {
  font-size: 14px;
  width: 40px;
  height: 40px;
  z-index: 5;
  position: absolute;
  color: white;
  border: white solid 1px;
  border-radius: 20px;
  text-align: center;
  padding-top: 8px;
  margin: auto;
  top: 590px;
  left: 47%;
}

.down-arrow:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.432);
          box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.432);
}

.down-arrow a {
  color: white;
}

.down-arrow a:hover {
  color: white;
}

.what-we-do {
  position: static;
}

.what-we-do h1 {
  font-family: 'GothamBold', sans-serif;
  font-weight: bold;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  margin-top: 165px;
  margin-bottom: 170px;
}

@media screen and (max-width: 980px) {
  .what-we-do h1 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 70px;
  }
}

.what-we-do_container_first-line_image {
  position: relative;
}

.what-we-do_container_first-line_image_photo {
  position: relative;
  max-width: 630px;
  height: 470px;
  background-image: url(img/what-we-do-1png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}

.what-we-do_container_first-line_image_bg {
  background-color: #55b7ff;
  width: 630px;
  height: 470px;
  position: absolute;
  top: -70px;
  left: -215px;
  z-index: 1;
}

.what-we-do_container_first-line_text {
  text-align: left;
}

.what-we-do_container_first-line_text h3 {
  font-family: '"GothamBook"', sans-serif;
  font-size: 18px;
  color: #2c4058;
  text-transform: uppercase;
  margin-top: 85px;
  margin-bottom: 15px;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .what-we-do_container_first-line_text h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.what-we-do_container_first-line_text h1 {
  font-family: 'GothamBold', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #2c4058;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  padding: 0;
}

.what-we-do_container_first-line_text_article {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  color: #4b5562;
  text-align: left;
}

.what-we-do_container_first-line_text .article_button {
  font-family: '"GothamBook"', sans-serif;
  font-size: 14px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  border-width: 1px;
  border-color: #2c4058;
  border-style: solid;
  width: 200px;
  height: 55px;
  padding-top: 20px;
}

.what-we-do_container_first-line_text .article_button:hover {
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.what-we-do_container_first-line_text .text_location {
  margin: 60px auto 65px;
  font-size: 18px;
  color: #2c4058;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.what-we-do_container_second-line {
  margin-top: 210px;
  margin-bottom: 140px;
}

@media screen and (max-width: 980px) {
  .what-we-do_container_second-line {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.what-we-do_container_second-line_text {
  text-align: left;
}

.what-we-do_container_second-line_text h3 {
  font-family: '"GothamBook"', sans-serif;
  font-size: 18px;
  color: #2c4058;
  text-transform: uppercase;
  margin-top: 85px;
  margin-bottom: 15px;
  padding: 0;
}

@media screen and (max-width: 980px) {
  .what-we-do_container_second-line_text h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.what-we-do_container_second-line_text h1 {
  font-family: 'GothamBold', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #2c4058;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  padding: 0;
}

.what-we-do_container_second-line_text_article {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  color: #4b5562;
  text-align: left;
}

.what-we-do_container_second-line_text .article_button {
  font-family: '"GothamBook"', sans-serif;
  font-size: 14px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  border-width: 1px;
  border-color: #2c4058;
  border-style: solid;
  width: 200px;
  height: 55px;
  padding-top: 20px;
}

.what-we-do_container_second-line_text .article_button:hover {
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.what-we-do_container_second-line_text .text_location {
  margin: 60px auto 65px;
  font-size: 18px;
  color: #2c4058;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.what-we-do_container_second-line_image {
  position: relative;
}

.what-we-do_container_second-line_image_photo {
  position: relative;
  max-width: 630px;
  height: 470px;
  background-image: url(img/what-we-do-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}

.what-we-do_container_second-line_image_bg {
  background-color: #7e5aff;
  width: 630px;
  height: 470px;
  position: absolute;
  top: -70px;
  left: 215px;
  z-index: 1;
}

.what-we-do_container .modal {
  background-color: white;
  padding: 20px;
  text-indent: 2.5em;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
  position: fixed;
  width: 80%;
  height: auto;
  left: 10%;
  top: 20px;
  bottom: 20px;
  z-index: 200;
  display: none;
  overflow: auto;
}

.what-we-do_container .filter {
  background-color: rgba(66, 61, 66, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.news {
  background-image: url(img/news-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.news_line {
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  margin-bottom: 40px;
  width: 100px;
  border-bottom: rgba(255, 255, 255, 0.5) 2px solid;
}

.news h1 {
  font-family: 'GothamMedium', sans-serif;
  font-weight: 600;
  font-size: 44px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 100px;
}

.news_slider_item {
  margin-left: 15px;
  margin-right: 15px;
  width: 370px;
  min-width: 335px;
  height: 520px;
  background-color: white;
  margin-bottom: 210px;
}

.news_slider_item_img {
  width: 100%;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news_slider_item_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #4b5562;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 20px;
}

.news_slider_item h1 {
  font-family: 'GothamBold', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  font-size: 22px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
}

.news_slider_item_author {
  position: relative;
}

.news_slider_item_author_img {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
}

.news_slider_item_author_name {
  font-family: '"GothamBook"', sans-serif;
  font-size: 18px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  left: 100px;
  top: 12px;
}

.news_slider_item_author_date {
  font-family: '"GothamBook"', sans-serif;
  font-size: 14px;
  color: #55b7ff;
  text-align: left;
  position: absolute;
  left: 100px;
  top: 40px;
}

.news .modal {
  background-color: white;
  padding: 20px;
  text-indent: 2.5em;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
  position: fixed;
  width: 80%;
  height: auto;
  left: 10%;
  top: 20px;
  bottom: 20px;
  z-index: 200;
  display: none;
  overflow: auto;
}

.news .filter {
  background-color: rgba(66, 61, 66, 0.411);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.gallery_container .gallery-line {
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  margin-bottom: 40px;
  width: 100px;
  border-bottom: rgba(68, 66, 66, 0.7) 2px solid;
}

.gallery_container h1 {
  font-size: 44px;
  font-family: 'GothamMedium', sans-serif;
  font-weight: 600;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

.gallery_container_grid {
  width: 100%;
  -ms-grid-columns: 6fr 3fr 3fr;
      grid-template-columns: 6fr 3fr 3fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  display: -ms-grid;
  display: grid;
  margin-bottom: 60px;
  grid-gap: 10px;
      grid-template-areas: "a1 a2 a3"  "a1 b1 b2";
}

@media screen and (max-width: 1260px) {
  .gallery_container_grid {
    -ms-grid-columns: 8fr 4fr;
        grid-template-columns: 8fr 4fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "a1 a2 "  "a1 a3 " "b1  b2";
  }
}

@media screen and (max-width: 950px) {
  .gallery_container_grid {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "a1 a1"  "a1 a1" "a2 a3" "b1 b2";
  }
}

@media screen and (max-width: 720px) {
  .gallery_container_grid {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "a1"  "a2" "a3" "b1" "b2";
  }
}

.gallery_container_grid_image {
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery_container_grid #first {
  min-width: 285px;
  min-height: 215px;
  background-image: url(/img/gallery-1.png);
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a1;
}

.gallery_container_grid #second {
  min-height: 215px;
  min-width: 285px;
  background-image: url(/img/gallery-2.png);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a2;
}

.gallery_container_grid #third {
  min-height: 215px;
  min-width: 285px;
  background-image: url(/img/gallery-3.png);
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a3;
}

.gallery_container_grid #forth {
  min-height: 215px;
  min-width: 285px;
  background-image: url(/img/gallery-4.png);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: b1;
}

.gallery_container_grid #fifth {
  min-height: 215px;
  min-width: 285px;
  background-image: url(/img/gallery-5.png);
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: b2;
}

.gallery_container_btn {
  font-family: '"GothamBook"', sans-serif;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  border-width: 1px;
  border-color: #2c4058;
  border-style: solid;
  width: 200px;
  height: 55px;
  padding-top: 20px;
}

.gallery_container_btn:hover {
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

#map {
  width: 100%;
  height: 700px;
}

.footer {
  height: 525px;
  background-image: url(img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer_form {
  background-color: white;
  min-height: 455px;
  position: absolute;
  top: -300px;
  min-width: 450px;
  -webkit-box-shadow: 5px -10px 20px rgba(110, 106, 106, 0.342);
          box-shadow: 5px -10px 20px rgba(110, 106, 106, 0.342);
}

.footer_form_line {
  margin-top: 50px;
  width: 100px;
  border-bottom: rgba(68, 66, 66, 0.7) 1px solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.footer_form h1 {
  font-family: 'GothamMedium', sans-serif;
  font-weight: 600;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
}

.footer_form_contacts {
  font-family: '"GothamBook"', sans-serif;
  font-size: 18px;
  color: #2c4058;
  text-align: left;
  min-width: 230px;
  margin-top: 60px;
  margin-left: 60px;
  line-height: 40px;
}

.footer_form_contacts i {
  color: #7e5aff;
}

@media screen and (max-width: 575px) {
  .footer_form_contacts {
    margin: auto;
    text-align: center;
  }
}

.footer_form_container input {
  border: none;
  border-bottom: 1px solid rgba(128, 125, 125, 0.431);
  max-width: 310px;
  height: 50px;
  margin-right: 60px;
  padding: 0;
  margin-bottom: 30px;
  font-family: '"GothamBook"', sans-serif;
  font-size: 18px;
  outline: none;
}

.footer_form_container input:focus {
  border-bottom: 1px solid #080808;
}

@media screen and (max-width: 575px) {
  .footer_form_container input {
    margin: auto;
  }
}

.footer_form_container input_button {
  font-family: '"GothamBook"', sans-serif;
  font-size: 14px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  border-width: 1px;
  border-color: #2c4058;
  border-style: solid;
  width: 140px;
  height: 50px;
  padding-top: 20px;
}

.footer_form_container input_button:hover {
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.footer_form_container #name {
  margin-top: 45px;
}
/*# sourceMappingURL=style.css.map */