@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@font-face {
  font-family: "GothamBook";
  src: url("fonts/GothamBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamMedium";
  src: url("fonts/Gotham Medium Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamBold";
  src: url("fonts/gothambold1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-us {
  position: static;
}

.nav-container {
  background-color: transparent;
  position: absolute;
  width: 74%;
  top: 55px;
  left: 13%;
  z-index: 20;
}

@media screen and (max-width: 1073px) {
  .nav-container {
    left: 5%;
    width: 90%;
  }
}

.nav-container_row_logo {
  height: 60px;
  max-width: 245px;
  background-image: url(img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1073px) {
  .nav-container_row_logo {
    background-size: contain;
  }
}

.nav-container_row_menu {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav-container_row_menu .menu .menu-item {
  text-align: center;
  font-size: 14px;
  font-family: '"GothamBook"', sans-serif;
  color: rgba(255, 255, 255, 0.637);
  text-transform: uppercase;
  line-height: 1.571;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.nav-container_row_menu .menu .menu-item:hover {
  text-decoration: none;
  color: white;
}

.nav-container_row_menu .menu .menu-item_active {
  color: white;
}

.nav-container_row_menu .menu .menu-item i {
  font-size: 12px;
}

.nav-container_row_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.nav-container_row_social .icon {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.637);
  border-radius: 20px;
  text-align: center;
}

.nav-container_row_social .icon:hover {
  border: 1px solid white;
}

.nav-container_row_social .icon .social {
  display: block;
  height: 100%;
  padding-top: 8px;
  color: rgba(255, 255, 255, 0.637);
}

.nav-container_row_social .icon .social:hover {
  color: white;
}

.slider-header {
  max-width: 100%;
}

.slider-header_items {
  height: 100%;
}

.slider-header_items h1 {
  font-family: 'GothamBold', sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 370px;
}

@media screen and (max-width: 1130px) {
  .slider-header_items h1 {
    font-size: 60px;
    padding-top: 330px;
  }
}

@media screen and (max-width: 950px) {
  .slider-header_items h1 {
    font-size: 60px;
    padding-top: 330px;
  }
}

@media screen and (max-width: 850px) {
  .slider-header_items h1 {
    font-size: 40px;
    padding-top: 300px;
  }
}

@media screen and (max-width: 555px) {
  .slider-header_items h1 {
    font-size: 40px;
    padding-top: 350px;
  }
}

.slider-header_items h3 {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: '"GothamBook"', sans-serif;
  margin-top: 38px;
  margin-bottom: 320px;
}

@media screen and (max-width: 1130px) {
  .slider-header_items h3 {
    font-size: 16px;
    margin-bottom: 270px;
  }
}

@media screen and (max-width: 950px) {
  .slider-header_items h3 {
    font-size: 16px;
    margin-bottom: 270px;
  }
}

@media screen and (max-width: 800px) {
  .slider-header_items h3 {
    font-size: 16px;
    margin-bottom: 230px;
  }
}

@media screen and (max-width: 555px) {
  .slider-header_items h3 {
    font-size: 16px;
    margin-bottom: 200px;
  }
}

.slider-header #slide-h-1 {
  background-image: url(img/slide-h-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-header #slide-h-2 {
  background-image: url(img/slide-h-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-header #slide-h-3 {
  background-image: url(img/slider-h-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-header #slide-h-4 {
  background-image: url(img/slider-h-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.down-arrow {
  font-size: 14px;
  width: 40px;
  height: 40px;
  z-index: 5;
  position: absolute;
  color: white;
  border: white solid 1px;
  border-radius: 20px;
  text-align: center;
  padding-top: 8px;
  margin: auto;
  top: 590px;
  left: 47%;
}

.down-arrow:hover {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.432);
          box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.432);
}

.down-arrow a {
  color: white;
}

.down-arrow a:hover {
  color: white;
}

.what-we-do {
  position: static;
}

.what-we-do h1 {
  font-family: 'GothamBold', sans-serif;
  font-weight: bold;
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  margin-top: 165px;
  margin-bottom: 170px;
}

.what-we-do_container_first-line_image {
  position: relative;
}

.what-we-do_container_first-line_image_photo {
  position: relative;
  max-width: 630px;
  height: 470px;
  background-image: url(img/what-we-do-1png.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}

.what-we-do_container_first-line_image_bg {
  background-color: #55b7ff;
  width: 630px;
  height: 470px;
  position: absolute;
  top: -70px;
  left: -215px;
  z-index: 1;
}

.what-we-do_container_first-line_text {
  text-align: left;
}

.what-we-do_container_first-line_text h3 {
  font-family: '"GothamBook"', sans-serif;
  font-size: 18px;
  color: #2c4058;
  text-transform: uppercase;
  margin-top: 85px;
  margin-bottom: 15px;
  padding: 0;
}

.what-we-do_container_first-line_text h1 {
  font-family: 'GothamBold', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #2c4058;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  padding: 0;
}

.what-we-do_container_first-line_text_article {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  color: #4b5562;
  text-align: left;
}

.what-we-do_container_first-line_text_button {
  font-family: '"GothamBook"', sans-serif;
  font-size: 14px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  border-width: 1px;
  border-color: #2c4058;
  border-style: solid;
  width: 200px;
  height: 55px;
  padding-top: 20px;
}

.what-we-do_container_first-line_text_button:hover {
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.what-we-do_container_modal_1 {
  padding: 20px;
  text-indent: 2.5em;
  border: black solid 1px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445) k;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445) k;
}
/*# sourceMappingURL=style.css.map */