@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@font-face { 
    font-family: "GothamBook"; 
    src: url("fonts/GothamBook.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal}
@font-face{
    font-family: "GothamMedium";
    src: url("fonts/Gotham\ Medium\ Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal
}
@font-face{
    font-family: "GothamBold";
    src: url("fonts/gothambold1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal
}
@mixin openSansItalic{
    font-family:  'Open Sans', sans-serif;
    font-style: italic;
}
@mixin openSans{
    font-family:  'Open Sans', sans-serif;
}
@mixin GothamBook{
    font-family:  '"GothamBook"', sans-serif;
}
@mixin GothamMedium{
    font-family:  'GothamMedium', sans-serif;
    font-weight: 600;
}
@mixin GothamRegular{
    font-family:  'GothamMedium', sans-serif;
    font-weight: 400;
}
@mixin GothamBold{
    font-family:  'GothamBold', sans-serif;
    font-weight: bold;
}
body{
    box-sizing: border-box;
}
.modal{
    background-color: white;
    padding: 20px;
    text-indent: 2.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    position: fixed;
    width: 500px;
    left: 300px;
    top: 20px;
    bottom: 20px;
    z-index: 200;
    display: none; 
    overflow: auto;  
}
.filter{
    background-color: rgba(66, 61, 66, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}
.about-us{
    position: static;
}
.nav-container{
    background-color: transparent;
    position: absolute;
    width: 74%;
    top: 55px;
    left:13%;
    z-index:20;
    @media screen and (max-width:1073px){
        left: 5%;
        width: 90%;
    }
    &_row{
        &_logo{
            height: 60px;
            max-width: 245px;
            background-image: url(img/logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @media screen and (max-width:1073px){
                background-size: contain;
            }

        }
        &_menu{
            flex-wrap: nowrap;
            .menu{
                .menu-item{
                    text-align: center;
                        font-size: 14px;
                        @include  GothamBook;
                        color: rgba(255, 255, 255, 0.637);
                        text-transform: uppercase;
                        line-height: 1.571;
                        width: max-content;
                        margin: auto;
                    &:hover{
                        text-decoration: none;
                        color: white;
                    }
                    &_active{
                        color: white;
                    }
                    i{
                        font-size: 12px;
                    }
                }
            }
        }
        &_social{
            display:flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            .icon{
                width: 40px;
                height: 40px;
                font-size:16px;
                border: 1px solid rgba(255, 255, 255, 0.637); 
                border-radius:20px ;
                text-align: center;
                &:hover{
                    border: 1px solid white;
                }
                .social{
                display: block;
                height: 100%;
                padding-top: 8px;
                color: rgba(255, 255, 255, 0.637);
                    &:hover{
                      color: white;
                    }
                }

            }
        }
    }
}
.slider-header{
    max-width: 100%;
    // max-height: 100vh;
    &_items{
        height: 100%;
        h1{
          @include GothamBold;  
            font-size: 80px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center;
            padding-top: 370px;
            @media screen and (max-width:1130px){
                font-size: 60px;
                padding-top: 330px;
            }
            @media screen and (max-width:950px){
                font-size: 60px;
                padding-top: 330px;
            }
            @media screen and (max-width:850px){
                font-size: 40px;
                padding-top: 300px;
            }
            @media screen and (max-width:555px){
                font-size: 40px;
                padding-top: 350px;
            }
        }
        h3{
            font-size: 18px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center; 
            @include  GothamBook; 
            margin-top: 38px;
            margin-bottom: 320px;
            @media screen and (max-width:1130px){
                font-size: 16px;
                margin-bottom: 270px;
            }
            @media screen and (max-width:950px){
                font-size: 16px;
                margin-bottom: 270px;
            }
            @media screen and (max-width:800px){
                font-size: 16px;
                margin-bottom: 230px;
            }
            @media screen and (max-width:555px){
                font-size: 16px;
                margin-bottom: 200px;
            }
        }
    }
    #slide-h-1{
        background-image: url(img/slide-h-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide-h-2{
        background-image: url(img/slide-h-2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide-h-3{
        background-image: url(img/slider-h-3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide-h-4{
        background-image: url(img/slider-h-4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.down-arrow{
    font-size: 14px;
    width: 40px;
    height: 40px;
    z-index:5;
    position: absolute;
    color: white;
    border: white solid 1px;
    border-radius: 20px;
    text-align: center;
    padding-top: 8px;
    margin:auto;
    top:590px;
    left:47%;
    &:hover{
        transform: translateY(10px);
        box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.432);
    }
    a{
        color: white;
        &:hover{
            color: white;
        }
    }
}

.what-we-do{
    position: static;
    h1{
        @include GothamBold();
            font-size: 44px;
            color: rgb(44, 64, 88);
            text-transform: uppercase;
            text-align: center;    
            margin-top: 165px;
            margin-bottom: 170px;
            @media screen and (max-width:980px){
                font-size: 36px;
                margin-top: 40px;
                margin-bottom: 70px;
            }
    }
    &_container{
        &_first-line{
            &_image{
                position: relative;
                &_photo{
                    position: relative;
                    max-width: 630px;
                    height: 470px;
                    background-image: url(img/what-we-do-1png.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: 3;
                }
                &_bg{
                    background-color: #55b7ff;
                    width: 630px;
                    height: 470px;
                    position: absolute;
                    top:-70px;
                    left: -215px;
                    z-index: 1;
                }
            }
            &_text{
                text-align: left;
                h3{
                    @include GothamBook();
                    font-size: 18px;
                    color: rgb(44, 64, 88);
                    text-transform: uppercase;   
                    margin-top: 85px;
                    margin-bottom: 15px;
                    padding: 0;
                    @media screen and (max-width:980px){
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }
                h1{
                    @include GothamBold();
                    font-size: 30px;
                    color: rgb(44, 64, 88);
                    text-transform: uppercase;
                    margin:0;
                    text-align: left;
                    padding: 0;
                }
                &_article{
                    @include openSans();
                    margin-top: 20px;
                    margin-bottom: 40px;
                        font-size: 18px;
                        color: rgb(75, 85, 98);
                        text-align: left;
                }
                .article_button{
                    @include GothamBook();
                        font-size: 14px;
                        color: rgb(44, 64, 88);
                        text-transform: uppercase;
                        text-align: center; 
                         border-width: 1px;
                         border-color: rgb(44, 64, 88);
                        border-style: solid;
                        width: 200px;
                        height: 55px;
                        padding-top: 20px;
                        &:hover{
                            box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
                            transform: translate(3px, 3px);
                        }
                }
                .text_location{
                    margin: 60px auto 65px;
                    font-size: 18px;
                    color: rgb(44, 64, 88);
                     text-align: left; 
                     @include openSansItalic();  
                }
            }
        }
        &_second-line{
            margin-top: 210px;
            margin-bottom: 140px;
            @media screen and (max-width:980px){
                margin-top: 30px;
                margin-bottom: 20px;
            }
            &_text{
                text-align: left;
                h3{
                    @include GothamBook();
                    font-size: 18px;
                    color: rgb(44, 64, 88);
                    text-transform: uppercase;   
                    margin-top: 85px;
                    margin-bottom: 15px;
                    padding: 0;
                    @media screen and (max-width:980px){
                        margin-top: 0;
                        margin-bottom: 15px;
                    }
                }
                h1{
                    @include GothamBold();
                    font-size: 30px;
                    color: rgb(44, 64, 88);
                    text-transform: uppercase;
                    margin:0;
                    text-align: left;
                    padding: 0;
                }
                &_article{
                    @include openSans();
                    margin-top: 20px;
                    margin-bottom: 40px;
                        font-size: 18px;
                        color: rgb(75, 85, 98);
                        text-align: left;
                }
                .article_button{
                    @include GothamBook();
                        font-size: 14px;
                        color: rgb(44, 64, 88);
                        text-transform: uppercase;
                        text-align: center; 
                         border-width: 1px;
                         border-color: rgb(44, 64, 88);
                        border-style: solid;
                        width: 200px;
                        height: 55px;
                        padding-top: 20px;
                        &:hover{
                            box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.246);
                            transform: translate(3px, 3px);
                        }
                }
                .text_location{
                    margin: 60px auto 65px;
                    font-size: 18px;
                    color: rgb(44, 64, 88);
                     text-align: left; 
                     @include openSansItalic();  
                }
            }
            &_image{
                position: relative;
                &_photo{
                    position: relative;
                    max-width: 630px;
                    height: 470px;
                    background-image: url(img/what-we-do-2.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: 3;
                }
                &_bg{
                    background-color: #7e5aff;
                    width: 630px;
                    height: 470px;
                    position: absolute;
                    top:-70px;
                    left: 215px;
                    z-index: 1;
                }
            }
        }
        .modal{
            background-color: white;
            padding: 20px;
            text-indent: 2.5em;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
            position: fixed;
            width: 80%;
            height:auto;
            left: 10%;
            top: 20px;
            bottom: 20px;
            z-index: 200;
            display: none; 
            overflow: auto;
        }
        .filter{
            background-color: rgba(66, 61, 66, 0.411);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            display: none;
        }
    }
}
.news{
    background-image: url(img/news-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_line{
        margin-left: auto;
        margin-right: auto;
        padding-top: 140px;
        margin-bottom: 40px;
        width: 100px;
        border-bottom: rgba(255, 255, 255, 0.5) 2px solid;
    }
    h1{
            @include GothamMedium();
            font-size: 44px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center;  
            padding-bottom: 100px;  
    }
    &_slider{
        &_item{
            margin-left: 15px;
            margin-right: 15px;
            width: 370px;
            height: 520px;
            background-color: white;
            margin-bottom: 210px;
            &_img{
            width: 100%;
            height: 240px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            }
            &_text{
                @include openSans();
                font-size: 18px;
                color: rgb(75, 85, 98);
                text-align: left; 
                margin-left: 25px;
                margin-right: 25px;
                padding: 0;  
                margin-top: 20px; 
                margin-bottom: 40px;  
                line-height: 20px;           
            }
            h1{
                @include GothamBold();
                margin-top: 30px;
                font-size: 22px;
                color: rgb(44, 64, 88);
                text-transform: uppercase;
                text-align: left;
                margin-left: 25px;
                margin-right: 25px;
                padding: 0;
            }
            &_author{
                position: relative;
                &_img{
                    width: 60px;
                    height: 60px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-left: 20px;
                }
                &_name{
                    @include GothamBook();
                    font-size: 18px;
                    color: rgb(44, 64, 88);
                    text-transform: uppercase;
                    text-align: left;
                    position: absolute;   
                    left: 100px; 
                    top:12px;
                }
                &_date{
                    @include GothamBook();
                    font-size: 14px;
                    color: rgb(85, 183, 255);
                    text-align: left;
                    position: absolute; 
                    left: 100px; 
                    top:40px; 
                }
            }
        }
    }
    .modal{
        background-color: white;
        padding: 20px;
        text-indent: 2.5em;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
        position: fixed;
        width: 80%;
        height:auto;
        left: 10%;
        top: 20px;
        bottom: 20px;
        z-index: 200;
        display: none; 
        overflow: auto;
    }
    .filter{
        background-color: rgba(66, 61, 66, 0.411);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: none;
    }
    
}
.gallery{
    &_container{
        .gallery-line{
        margin-left: auto;
        margin-right: auto;
        padding-top: 140px;
        margin-bottom: 40px;
        width: 100px;
        border-bottom: rgba(68, 66, 66, 0.7) 2px solid;
        }
    h1{
        font-size: 44px;
        @include GothamMedium();
        color: rgb(44, 64, 88);
        text-transform: uppercase;
        text-align: center; 
        margin-top: 40px; 
        margin-bottom: 100px;    
    }
    &_grid{
        display: grid;
        grid-template-areas: "a a b c" 
                             "a a d e";
        &:first-child{
            grid-column:1/2;
            grid-row: 1/2;
        }
        &:nth-child(2){
            grid-column: 3/3;
            grid-row: 1/1;
        }
        &:nth-child(3){
            grid-area: c;
        }
        &:nth-child(4){
            grid-area: d;
        }
        &:nth-child(5){
            grid-area: e;
        }
    }
}
}
