@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@font-face { 
    font-family: "GothamBook"; 
    src: url("fonts/GothamBook.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal}
@font-face{
    font-family: "GothamMedium";
    src: url("fonts/Gotham\ Medium\ Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal
}
@font-face{
    font-family: "GothamBold";
    src: url("fonts/gothambold1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal
}
@mixin openSansItalic{
    font-family:  'Open Sans', sans-serif;
    font-style: italic;
}
@mixin openSans{
    font-family:  'Open Sans', sans-serif;
}
@mixin GothamBook{
    font-family:  '"GothamBook"', sans-serif;
}
@mixin GothamMedium{
    font-family:  'GothamMedium', sans-serif;
    font-weight: 600;
}
@mixin GothamRegular{
    font-family:  'GothamMedium', sans-serif;
    font-weight: 400;
}
@mixin GothamBold{
    font-family:  'GothamBold', sans-serif;
    font-weight: bold;
}
body{
    box-sizing: border-box;
}
.nav-container{
    background-color: transparent;
    position: relative;
    padding-top: 55px;
    &_row{
        &_logo{
            height: 60px;
            max-width: 245px;
            background-image: url(img/logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media screen and (max-width:1073px){
                background-size: contain;
            }

        }
        &_menu{
            flex-wrap: nowrap;
            .menu{
                .menu-item{
                    text-align: center;
                        font-size: 14px;
                        @include  GothamBook;
                        color: rgba(255, 255, 255, 0.637);
                        text-transform: uppercase;
                        line-height: 1.571;
                        width: max-content;
                        margin: auto;
                    &:hover{
                        text-decoration: none;
                        color: white;
                    }
                    &_active{
                        color: white;
                    }
                    i{
                        font-size: 12px;
                    }
                }
            }
        }
        &_social{
            display:flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            .icon{
                width: 40px;
                height: 40px;
                font-size:16px;
                border: 1px solid rgba(255, 255, 255, 0.637); 
                border-radius:20px ;
                text-align: center;
                &:hover{
                    border: 1px solid white;
                }
                .social{
                display: block;
                height: 100%;
                padding-top: 8px;
                color: rgba(255, 255, 255, 0.637);
                    &:hover{
                      color: white;
                    }
                }

            }
        }
    }
}
.slider-header{
    height: 800px;
    position: absolute;
    &_items{
        height: 100%;
        h1{
          @include GothamBold;  
            font-size: 80px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center;
            padding-top: 370px;
        }
        h3{
            font-size: 18px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            text-align: center; 
            @include  GothamBook; 
            margin-top: 38px;
        }
    }
    #slide-h-1{
        background-image: url(img/slide-h-1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide-h-2{
        background-image: url(img/slide-h-2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide-h-3{
        background-image: url(img/slider-h-3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #slide-h-4{
        background-image: url(img/slider-h-4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}